//типовой текст страницы
.description {
    @extend %main-text;
}

//типовой текст жирный
.description--bold {
    @extend %main-text-bold;
}

//оранжевый текст
.except-text {
    @extend %except-text;
}

//для h2 по всей странице, для первого необходимо вручную прописать 20,5px размер
.section-headline {
    @extend %headline-text;
}

//для h2 по всей странице, белый текст на чёрном фоне
.section-headline--reverse {
    @extend %headline-reverse-text;
}

//текст в верхнем регистре, жирный
.slogan {
    @extend %slogan-text;
}

//текст в верхнем регистре, жирный, белый на чёрном фоне
.slogan--reverse {
    @extend %slogan-reverse-text;
}

//текст medium стандартного размера и формы (чуть жирнее обычного)
.important-information {
    @extend %secondary-text;
}

//текст medium стандартного размера и формы (чуть жирнее обычного), белый на чёрном фоне
.important-information--reverse {
    @extend %secondary-reverse-text;
}

//текст, выделенный голубым
.description--highlight-blue {
    @extend %highlited-text;
}

//оранжевые номера элементов списка
.list-number {
    @extend %numbers-of-list;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 14px;
        height: -webkit-fill-available;
        background-image: linear-gradient(
            to left,
            rgba(255, 255, 255, 1) 35%,
            rgba(255, 255, 255, 0) 35%
            );
    }
}

.list-number-regular {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 1) 25%,
            rgba(255, 255, 255, 0) 25%
            );
    }
}

//кнопочки (:
.button {
    @extend %button-style;
}