.container {
  width: 450px;
  margin: 0 auto;
}

.container-mini {
  width: 295px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 640px;
  }
  .ordinary-people__header {
    width: 175px;
  }
}
