.ordinary-people {
  padding: 0 92px;
  @extend %main-text;
  margin-bottom: 54px;
  &__title {
    @extend %headline-text;
    margin-bottom: 38px;
  }
  &__description {
    @extend %main-text-bold;
    margin-bottom: 36px;
    color: $secondary-color;
    &--line {
      &::before {
        @extend %dash-big;
        position: absolute;
        left: 0;
        top: 13px;
      }
    }
  }
  &__title,
  &__description {
    padding-left: 36px;
    position: relative;
  }
  &__description--reverse {
    @extend %secondary-reverse-text;
  }
}

.discussion {
  width: 292px;
  height: 210px;
  margin: 0 auto;
  position: relative;
  box-shadow: $form-box-shadow;
  &__photo {
    width: 56px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  &__feedback {
    position: absolute;
    left: 92px;
    top: 20px;
    font-size: 5px;
    line-height: 8px;
    width: 170px;
    height: 170px;
    padding-right: 15px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 2px;
      margin-right: 30px;      
    }
    //колесо прокрутки
    &::-webkit-scrollbar-thumb {
      width: 2px;
      background-color: #000000;
    }
    //область прокрутки
    &::-webkit-scrollbar-track {
      width: 1px;
      background-color: #f4f4f4;
    }
    &::-webkit-scrollbar-track-bottom {
      background-color: red;
    }
  }
  &__name {
    @extend %slogan-text;
    font-size: 6px;
    line-height: 9px;    
  }
}

.section-nav {
  width: 295px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.pagination {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  display: flex;
  list-style: none;
  &__item {
    margin-right: 5px;
  }
  &__link {
    text-decoration: none;
    @extend %slogan-text;
    font-size: 6px;
    &--active {
      &:hover,
      &:focus {
        transition-property: font-size;
        font-size: 9px;
        text-decoration: line-through;
      }
    }
  }
}
.laquo-raquo {
  display: flex;
  &__link {
    display: inline-block;
    text-align: center;
    line-height: 16px;
    text-decoration: none;
    width: 16px;
    height: 16px;
    color: $main-color;
    background-color: $secondary-color;
    &--prew {
      margin-right: 1px;
    }
  }
}
