.ordinary-people {
  padding: 0 92px;
  margin-bottom: 54px;
  &__title {
    margin-bottom: 38px;
  }
  &__description {
    margin-bottom: 36px;
    color: $secondary-color;
    &--line {
      &::before {
        @extend %dash-big;
        position: absolute;
        left: 0;
        top: 13px;
      }
    }
  }
  &__title,
  &__description {
    padding-left: 36px;
    position: relative;
  }
}

.discussion {
  width: 295px;
  margin: 0 auto;
  position: relative;
  box-shadow: $form-box-shadow;
  &__photo {
    width: 56px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  &__feedback {
    margin: 0;
    font-size: 5px;
    line-height: 8px;
    padding: 20px 35px 20px 92px;
  }
  &__name {
    font-size: 6px;
    line-height: 9px;
  }
}

.section-nav {
  width: 295px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.pagination {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  display: flex;
  list-style: none;
  &__item {
    margin-right: 5px;
  }
  &__link {
    text-decoration: none;
    font-size: 6px;
    &--active {
      &:hover,
      &:focus {
        transition-property: font-size;
        font-size: 9px;
        text-decoration: line-through;
      }
    }
  }
}
.laquo-raquo {
  display: flex;
  &__link {
    display: inline-block;
    text-align: center;
    line-height: 16px;
    text-decoration: none;
    width: 16px;
    height: 16px;
    color: $main-color;
    background-color: $secondary-color;
    &--prew {
      margin-right: 1px;
    }
  }
}
