img {
  display: block;
  widows: 100%;
  height: auto;
}
.many-people {
  margin-bottom: 30px;
  &__title {
    margin-bottom: 10px;
  }
  &__description {
    margin-bottom: 32px;
    color: $secondary-color;
    padding-right: 35px;
    & span {
      display: block;
    }
    &--line {
      &::before {
        @extend %dash-big;
        position: absolute;
        left: 35px;
        top: 13px;
      }
    }
  }
  &__title,
  &__description {
    padding-left: 70px;
    position: relative;
  }
  &__img {
    margin-bottom: 15px;
  }
  &__text {
    padding: 0 35px 0 35px;
    margin-bottom: 40px;
    &--reverse {
      margin: 0 0 3px 0;
    }
    &--header {
      margin-bottom: 15px;
    }
    & .description--bold {
      margin-bottom: 10px;
    }
  }
  &__header {
    & span {
      display: block;
    }
  }
}
