img {
  display: block;
  max-width: 100%;
  height: auto;
}
.warn-section {
  @extend %main-text;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 66px;
  &__title {
    @extend %headline-text;
    margin-bottom: 20px;
  }
  &__description {
    @extend %main-text-bold;
  }
  &__title,
  &__description {
    padding: 0 60px;
    position: relative;
  }
  &__description--line {
    &::before {
      @extend %dash-big;
      position: absolute;
      left: 22px;
      top: 13px;
    }
  }
  &__description {
    margin-bottom: 38px;
    color: $secondary-color;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    margin-bottom: 15px;
    padding-left: 22px;
    position: relative;
  }
  &__item {
    &:last-child {
      margin-bottom: 0;
    }
    &--liststyle {
      &::before {
        @extend %list-style-square-small-black;
        position: absolute;
        top: 7px;
        left: 0;
      }
    }
  }
  &__item &__item--slogan {
    @extend %slogan-text;
    display: block;
  }
}
