.warn-section {
  margin: 0;
  padding: 0;
  @extend %main-text;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 66px;
  &__title {
    @extend %headline-text;
    margin-bottom: 20px;
  }
  &__description {
    @extend %main-text-bold;
    margin-bottom: 38px;
    color: $secondary-color;
    &--line {
      &::before {
        @extend %dash-big;
        position: absolute;
        left: 20px;
        top: 13px;
      }
    }
  }
  &__title,
  &__description {
    padding: 0 60px;
    position: relative;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    margin-bottom: 15px;
    position: relative;
    padding-left: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    &--liststyle {
      &::before {
        @extend %list-style-square-small-black;
        position: absolute;
        top: 7px;
        left: 0;
      }
    }
    &--slogan {
      @extend %slogan-text;
      display: block;
    }
  }
}
