img {
  display: block;
  widows: 100%;
  height: auto;
}
.many-people {
  margin-bottom: 30px;
  &__title {
    margin-bottom: 10px;
  }
  &__description {
    margin-bottom: 32px;
    color: $secondary-color;
    padding-right: 35px;
    & span {
      display: block;
    }
    &--line {
      &::before {
        @extend %dash-big;
        position: absolute;
        left: 35px;
        top: 13px;
      }
    }
  }
  &__title,
  &__description {
    padding-left: 70px;
    position: relative;
  }
  &__img {
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      width: 275px;
      height: auto;
      margin-bottom: 50px;
    }
  }
  &__text {
    padding: 0 35px 0 35px;
    @media screen and (min-width: 768px) {
      padding: 0;
      display: flex;
      width: 315px;
    }
    margin-bottom: 40px;
    &--reverse {
      margin: 0 0 3px 0;
    }
    &--header {
      margin-bottom: 15px;
    }
    .description--bold {
      margin-bottom: 10px;
    }
  }
  &__header {
    & span {
      display: block;
    }
    @media screen and (min-width: 768px) {
      width: 275px;
    }
  }
  @media screen and (min-width: 768px) {
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .many-people__header--order-1 {
    order: 1;
  }
  .many-people__img--order-2 {
    order: 2;
  }
  .many-people__img--order-3 {
    order: 3;
    padding-left: 35px;
  }
  .many-people__text--order-4 {
    width: 215px;
    order: 4;
  }
  .many-people__text--order-5 {
    order: 5;
    width: 215px;
  }
  .many-people__text {
    display: flex;
    width: 315px;
  }
  .many-people__text--tablet {
    padding-left: 20px;
  }
}
