.warn-section {
  margin-bottom: 66px;
  &__title {
    & span {
      display: block;
    }
    @media screen and (min-width: 768px) {
      padding-left: 0;
    }
    margin-bottom: 20px;
    padding-left: 60px;
  }
  &__description {
    margin-bottom: 38px;
    padding-left: 60px;
    color: $secondary-color;
    & span {
      display: block;
    }
    &--line {
      &::before {
        @extend %dash-big;
        position: absolute;
        left: 25px;
        top: 13px;
        @media screen and (min-width: 768px) {
          left: 0;
        }
      }
      @media screen and (min-width: 768px) {
        padding: 0 60px 0 45px;
      }
    }
    &__img {
      @media screen and (min-width: 768px) {
        display: block;
        height: auto;
      }
    }
  }
  &__header {
    width: 340px;
    margin: 0 auto;
    & p {
      position: relative;
    }
  }
  &__list {
    list-style: none;
    width: 340px;
    margin: 0 auto;
  }
  &__item {
    margin-bottom: 15px;
    position: relative;
    padding-left: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    &--liststyle {
      &::before {
        @extend %list-style-square-small-black;
        position: absolute;
        top: 7px;
        left: 0;
      }
    }
    &--slogan {
      display: block;
    }
    @media screen and (min-width: 768px) {
      padding-right: 90px;
    }
  }
}

@media screen and (min-width: 768px) {
  .image-section {
    position: relative;
    display: inline-block;
    margin-right: 86px;
    padding-left: 60px;
  }
  .warn_vertical_background {
    position: absolute;
    left: 20px;
    top: 45%;
    z-index: -1;
    color: $secondary-color;
    font-family: $main-font;
    font-weight: 800;
    opacity: 0.1;
    text-transform: uppercase;
    transform: rotate(90deg);
    font-size: 150px;
  }
  .warn-section__header__list {
    display: inline-block;
    width: 300px;
  }
}
