img {
  display: block;
  width: 100%;
  height: auto;
}
.web-career {
  margin-bottom: 44px;
  &__title {
    padding-left: 75px;
    & span {
      display: block;
    }
  }
  &__description {
    padding: 0 60px 0 110px;
    color: $secondary-color;
    position: relative;
    margin-bottom: 25px;
    &--line {
      &::before {
        @extend %dash-big;
        position: absolute;
        left: 75px;
        top: 13px;
      }
    }
  }
  &__img {
    margin-bottom: 25px;
  }
  &__text {
    padding: 0 65px 0 75px;
    &--bold {
      padding-left: 100px;
      position: relative;
      &::before {
        @extend %list-style-square-small-black;
        position: absolute;
        left: 73px;
        top: 7px;
      }
    }
  }
}
