.facts-title {
    text-align: center;
    margin: 0 0 45px;
}

.facts-subtitle {
    position: relative;
    font-weight: 500;
    text-align: left;
    margin: 0 0 45px;
    padding: 0 100px;
}

.facts-subtitle::before {
    position: absolute;
    display: block;
    content: '';
    width: 20px;
    height: 3px;
    background: $secondary-color;
    left: 65px;
    top: 7px;
}

.facts-list {
    list-style: none;
    color: $btn-main-color;
    margin: 0 0 50px;
    padding: 0 0 0 40px;
}

.facts-list__facts-item {
    font-size: 23px;
    margin: 0 0 30px;
    position: relative;
}

.facts-list__facts-item:last-child {
    margin: 0;
}

.facts-list__facts-item::before {
    @extend%list-style-square-big-black;
    background: $btn-main-color;
    position: absolute;
    top: 12px;
    left: -22px;
}

.facts-item-titul {
    font-size: 23px;
    font-weight: 800;
    line-height: 29px;
    font-family: $main-font;
    color: $secondary-color;
    margin: 0 0 5px;
}

.facts-item-subtitle {
    display: inline-block;
    margin: 0 0 16px;
}

.facts-item-text {
    text-align: left;
    padding-right: 60px;
}