.section_training_now{
    padding-bottom: 37px;
}
.training_title{
    margin: 0 auto;
    width: 376px;
}

.training_headline{
    @extend %headline-text;
    padding-bottom: 24px;
}

.training_h3{
    @extend %slogan-text;
    padding-bottom: 18px;
    &__description{
        @extend %main-text;
        padding-bottom: 42px;
    }
}

.training_quote{
    padding-top: 63px;
    @extend %secondary-text;
        &::before {
            content: '\2014';
            margin-right: 10px;
            font-size: 40px;
            vertical-align: -40%;
        }
}

.goforit_list{
    padding-bottom: 60px;
}

.goforit_oon{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        width: 80px;
        height: 68px;
        right: -15px;
        background: url("../images/icon-OON.jpg") center/cover no-repeat;
    }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .goforit_oon{
        &::before{
            background: url("../images/icon-OON@2x.jpg") center/cover no-repeat;
        }
    }
}

.goforit_headline{
    @extend %headline-text;
    padding-bottom: 37px;
}

.goforit_h3{
    @extend %slogan-text;
    padding-right: 60px;
    &__description{
        @extend %main-text;
        padding-bottom: 44px;
    }
}

.art{
    padding-bottom: 47px;
    position: relative;
    &:last-child{
        padding-bottom: 0;
    }
    &::before{
        content: "";
        position: absolute;
        width: 45px;
        height: 140px;
        right: -5px;
    }
}

.article_award2016::before{
    background: url("/crazy_racoons/src/images/icon-winner-1.jpg") center/cover no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .article_award2016::before {
      background: url("/crazy_racoons/src/images/icon-winner-1@2x.jpg") center/cover no-repeat;
    }
}

.article_best2015::before, .article_best2016::before{
    background: url("/crazy_racoons/src/images/icon-winner-2@1x.jpg") center/cover no-repeat;
    width: 60px;
    height: 114px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .article_best2015::before,
    .article_best2016::before {
        background: url("/crazy_racoons/src/images/icon-winner-2@2x.jpg") center/cover no-repeat;
    }
}

.list_background{
    position: relative;

    &__number{
        position: absolute;
        display: block;
        line-height: 78px;
        color: $secondary-color;
        font-family: $main-font;
        font-weight: 800;
        opacity: 0.1;
        transform: rotate(270deg);
        font-size: 38px;
        right: 80px;
    }
}

.article_title{
    @extend %slogan-text;
    padding-bottom: 17px;
}

.article_description{
    @extend %main-text;
    padding-right: 60px;
}