.section_info {
  margin-bottom: 60px;
}

.info_list {
  display: flex;
  margin-bottom: 30px;
}

.info_headline {
  padding-top: 25px;
  padding-bottom: 36px;
  font-size: 10px;
  line-height: 16px;
}

.info_number--bgorange {
  transform: rotate(-90deg) translateX(-50%);
  height: fit-content;
}

.info_content {
  &__headline {
    padding-bottom: 15px;
  }
}

.info-button {
  width: 216px;
  margin: 40px auto 0;
}
