.record-section {
    margin-bottom: 40px;    
    &__headline {
        padding: 0px 75px 30px 90px;               
    }
    &__text { 
        padding: 0px 75px 45px 115px;        
        position: relative;        
        &::before {
            @extend %dash-small;
            position: absolute;
            left: 90px; 
            top: 10px;           
        }
    }
    &__image {
        display: block;
        margin: 0px auto 35px;
        width: auto;
    }
    &__achievements-list {
        list-style: none;
        &__item {
            padding: 0px 75px 30px 95px;
            position: relative;            
            &__description {                
                padding-top: 10px;
            }
            &::before {
                @extend %list-style-square-small-black;
                position: absolute;
                left: 78px;
                top: 6px;
            }
        }
    }
}