.gain-section {    
    margin-bottom: 48px;
    &__headline {
        padding: 0px 115px 50px 115px;        
    }
    &__get-list {
        list-style: none;
        &__item {
            padding: 0px 75px 30px 75px;
            display: flex;
            justify-content: space-between;                    
            &__content {
                width: 250px;
            }                       
        }
    }
    &__text {     
        padding: 0px 115px 35px 150px;   
        margin-bottom: 35px;
        position: relative;
        &::before {
            @extend %slash;
            left: 130px;
        }
    }
    &__button {
        padding-right: 27px;
        padding-left: 27px;
    }
}