.video-course-section {
  text-align: center;
  padding: 0 105px;

  &__headline {    
    margin-bottom: 20px;
  }

  &__description {
    display: flex;    
    text-align: left;

    &::before {
      @extend %dash-big;
      width: 40px;
      transform: translateY(500%);
      margin-right: 20px;
    }
  }

  &__image {
    padding: 0 20px;

    &-foto {
      display: block;
      margin: 35px 0 30px;
    }
  }

  &__what-is-list {
    padding-left: 0;

    &__item {
      list-style-type: none;
      text-align: left;

      &__headline {
        margin-bottom: 15px;
      }

      &__description {        
        margin-bottom: 40px;
      }
    }
  }

  &__what-you-get {
    padding: 0 30px;

    &-headline {
      margin-bottom: 30px;
    }
  }

  &__what-you-get-list {
    padding-left: 0;

    &__item {
      display: flex;
      margin-bottom: 30px;
      list-style-type: none;

      &__number--bg-orange {
        @extend %numbers-of-list;        
        height: 14px;
        transform: rotate(-90deg) translate(-40%, -100%);
      }

      &-desc {
        &__headline {
          margin-bottom: 5px;
        }

        &__description {
          margin: 0;
        }
      }

      &:last-child {
        margin-bottom: 60px;
      }
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;

    &__text {
      padding-top: 25px;

      &--bg-blue {
        font-size: 17px;
        line-height: 30px;
      }
    }

    &__numbers {
      font-family: $main-font;
      font-weight: 800;
      line-height: 44px;

      &__old {
        font-size: 17px;
        color: $main-text-color;
        text-decoration: line-through;
      }

      &__new {
        font-size: 36px;
        color: $secondary-color;

        &--grn {
          font-size: 20px;
        }
      }
    }
  }
}
