.leading-section {        
    margin-bottom: 50px;
    &__slogan {
        padding: 0px 100px 25px 115px;        
    }
    &__description {
        padding: 0px 100px 25px 140px;
        position: relative;
        &::before {
            @extend %dash-small;
            position: absolute;
            left: 115px;
            top: 10px;
        }
    }
    &__image {
        display: block;
        margin: 0px auto 40px;
    }
    &__secondary-headline {
        padding: 0px 115px 15px 90px;
        // margin-bottom: 15px;
    }
    &__text {
        padding: 0px 115px 0px 90px;
    }
}