.section_steps {
  margin-bottom: 52px;
}
.step_headline {
  padding-bottom: 27px;
}

.step_description {
  padding-bottom: 63px;
  &::before {
    content: '\2014';
    margin-right: 10px;
    font-size: 40px;
    vertical-align: -40%;
  }
}

.step_background {
  position: relative;
  top: 52px;
}

.step_hor_background,
.step_vert_background {
  position: absolute;
  display: block;
  line-height: 78px;
  color: $secondary-color;
  font-family: $main-font;
  font-weight: 800;
  opacity: 0.1;
  text-transform: uppercase;
}

.step_hor_background {
  font-size: 207px;
}

.step_vert_background {
  transform: rotate(90deg);
  font-size: 56px;
  left: 66px;
}

.step_number {
  font-size: 16px;
}

.step_list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 34px;
  &:last-child {
    padding-bottom: 48px;
  }

  &_content {
    width: 235px;
  }
}

.slesh_text {
  display: flex;
  width: 360px;
  text-align: left;
  margin: 0 auto;
}

.slesh::before {
  content: '\2044';
  color: #000;
  font-size: 27px;
  padding-right: 8px;
  font-weight: bold;
}

.text_orange {
  font-size: 15px;
  font-weight: 500;
}
